#root {
  max-width: 100%;
  min-height: 130vh;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(55, 176, 93, 1) 50%,
    rgba(2, 157, 255, 1) 100%
  );
  background-size: 400% 400%;
  animation: movingGradient 20s linear infinite alternate;
  color: rgba(255, 255, 255, 0.87);
  font-family: monospace;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.5s;
  background: rgba(55, 176, 93, 1);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  height: 16em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.spotify-battle {
  border-radius: 20%;
}

.link-input-area {
  display: flex;
  flex-direction: row;
}

.link-input-container {
  width: 100%;
  flex-direction: row;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.navbar a,
.modal-link {
  color: rgba(255, 255, 255, 0.87);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  cursor: pointer;
}

.about-modal-button:hover {
  color: rgba(255, 255, 255, 0.653);
  text-decoration: underline;
}

@keyframes movingGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button-50 {
  background-color: rgba(55, 176, 93, 1);
  transition: 0.5s;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.87);
}

.button-50:hover {
  background-color: rgba(2, 157, 255, 1);
  font-size: 1.3rem;
}

.spotify-input-link {
  margin: 1rem 10px;
  width: 50%;
  height: 40px;
  transition: width 1s;
}

.spotify-input-link:focus {
  width: 70%;
}

.username-info-modal-button {
  font-size: 1.25rem;
  transition: all 0.5s;
}

.username-info-modal-button:hover {
  font-size: 1.3rem;
  cursor: pointer;
}

.username-modal-body > label {
  margin: 0 1rem;
}

.username-label {
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.modal {
  color: black;
}

.full-results-container {
  padding: 2rem 0;
}

.winner-header {
  margin: 2rem 0;
  font-size: 2.2rem;
}

.spinner-customisation {
  margin: 4rem auto;
  width: 10rem;
  height: 10rem;
}

.round-results-container > p {
  font-size: 1.5rem;
}

.image-fight {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
}

.playlist-fight-image {
  height: 12rem;
  width: auto;
  border-radius: 10px;
  will-change: filter;
  transition: filter 0.3s;
}

.playlist-fight-image:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.playlist-fight-name {
  font-size: 1.5rem;
  margin: 1rem auto;
}

.image-fight > p {
  margin: auto 5rem;
}

@media (max-width: 768px) {
  .playlist-fight-name {
    font-size: 1.5rem;
    margin: 0 auto;
  }

  .image-fight {
    display: flex;
    flex-direction: column;
  }

  .image-fight > p {
    margin: 3rem 0;
  }

  .link-input-area {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .image-fight {
    margin: 1rem auto;
  }

  .playlist-fight-image {
    height: 10rem;
    width: auto;
  }

  .image-fight > p {
    margin: 1rem 0;
  }

  .navbar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .navbar a,
  .modal-link {
    padding: 10px;
  }
  .playlist-fight-name {
    margin-top: 10px;
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInText {
  opacity: 0;
  animation: fadeInFromTop 1s ease-out forwards;
  animation-delay: 3s;
}

.error-message-api {
  font-size: 1.3rem;
  margin: 1rem auto;
}
